<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright © Magenx. All rights reserved.
    SPDX-License-Identifier: MIT
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="Test/Unit/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">Test/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>Test</directory>
            <directory>vendor</directory>
        </exclude>
    </source>
</phpunit>
