<?xml version="1.0"?>
<!--
    Mage-OS
    Copyright (c) Mage-OS Association (https://mage-os.org/)
    SPDX-License-Identifier: MIT

    Forked from mage-os/module-rma 2.4.1 into Magenx_Rma / Magenx_RmaGraphQl;
    identifiers renamed, GraphQL surface split into a sibling module.
    Modified by MagenX: added withdrawal defaults.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rma>
            <general>
                <enabled>0</enabled>
                <increment_id_prefix>RMA-</increment_id_prefix>
                <return_period>30</return_period>
            </general>
            <policy>
                <auto_approve>0</auto_approve>
                <allowed_order_statuses>complete</allowed_order_statuses>
            </policy>
            <withdrawal>
                <enabled>0</enabled>
                <period_days>14</period_days>
                <transit_days>0</transit_days>
                <auto_approve>1</auto_approve>
            </withdrawal>
            <attachments>
                <allowed_extensions>jpg,jpeg,png,gif,webp,mp4,mov,pdf,doc,docx</allowed_extensions>
                <max_file_size>10</max_file_size>
                <max_files>5</max_files>
            </attachments>
            <email>
                <sender_identity>general</sender_identity>
                <customer_new_template>rma_email_customer_new_template</customer_new_template>
                <customer_status_change_template>rma_email_customer_status_change_template</customer_status_change_template>
                <admin_new_template>rma_email_admin_new_template</admin_new_template>
            </email>
        </rma>
    </default>
</config>
